header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;

  .userContainer{
    display: flex;
    gap: 1rem;

    .profilePic{
      width: 35px;
      height: 35px;
      overflow: hidden;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    
      img{
        object-fit: cover;
        width: 100%;
        height: auto;  
      }
    }

    h1{
      font-size: 1.5rem;
      color: #fff;
    }    
    p{
      color: #fff;
    }
  }
}