.generalContainer{
  display: grid;
  grid-template-columns: 48.5% 48.5%;
  gap: 3%;
  margin: 0 0 25px;
  padding: 0 1rem;

  .category{
    display: flex;
    align-items: center;
    // justify-content: center;
    cursor: pointer;

    h2{
      font-size: 1.1rem;
      color: #fff;
      font-weight: 600;
    }
  }
}
