nav{
  border-top: 1px rgb(193, 192, 192) solid;
  padding: 5px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

   ul{
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
  
    li{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      a{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
      }
  
      svg{
        width: 30px;
        height: 30px;
        stroke: #B7B7B7;
      }
      p{
        font-size: 0.8rem;
        margin-top: 5px;
        color: #B7B7B7;
      }
    }
  }
}

.actived{
  svg{
    stroke: black;
  }
  p{
    color: black;
  }
}